body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eefdf9;   /* #f9f9f9 */
    color: #333;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex; 
    height: 50px; /* Default height */
    justify-content: space-evenly; 
    align-items: center; /* Centers items vertically in the navbar */
}

/* Ensuring links are properly styled */
.navbar a {
    color: white;
    text-align: left; /* Align text left for all views */
    padding: 15px 20px;
    text-decoration: none;
    display: block; /* Allows width to take effect */
    box-sizing: border-box; /* Includes padding in width calculation */
}

.navbar a:hover {
    background-color: #555;
}

.skip-link {
    position: absolute;
    left: -999px;
    top: -999px;
    background: #fff;
    color: black;
    padding: 8px;
    z-index: 2000;
}

.skip-link:focus {
    left: 10px;
    top: 10px;
}

.container, main {
    padding: 20px;
    margin-top: 60px;
    clear: both;
}

.project, .contact {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
}

iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;  
    border: none;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto; /* Height adjusts to content */
        padding-bottom: 10px; /* Add padding to bottom for space */
    }
    .navbar a {
        width: 100%; /* Full width for a stack */
        text-align: left; /* Ensure text is left aligned */
    }
    .container, main {
        margin-top: 100px; /* Increased top margin to account for taller navbar */
    }
    iframe {
        width: 100%;
        height: auto; 
    }
}
@media (max-width: 480px) {
    .navbar a {
        width: 100%; /* Full width for a stack */
    }
    .container, main {
        margin-top: 100px; /* Ensures content is pushed down */
    }
    h1, h2 {
        font-size: 18px; /* Smaller fonts for headers */
    }
    ul, p, li {
        font-size: 14px; /* Smaller fonts for text */
        padding-left: 20px; /* Padding for lists */
    }
}
